html {
  width: 100%;
  font-size: 62.5%;
}
body {
  margin: 0;
}
.body_wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 80px;
  box-sizing: border-box;
}
.header_nav {
  width: 100%;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  background-color: #6782d4;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  font-size: 3rem;
  color: #f5f4f7;
  text-shadow: 2px 2px #a4b0b9;
  padding-left: 20px;
}
.logo p {
  display: block;
  margin: 0;
  text-align: center;
}
.nav_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav_items {
  display: flex;
  font-size: 2rem;
  margin-right: 20px;;
}
.nav_items a {
  color: #f5f4f7;
  text-shadow: 2px 2px #a4b0b9;
  text-decoration: none;
}
.flash_message {
  font-size: 3rem;
}
footer {
  width: 100%;
  height: 80px;
  background-color: #6782d4;
  display: flex;
  position: absolute;
  bottom: -80px;
  justify-content: center;
  align-items: center;
}
footer div {
  line-height: 100%;
}
footer p {
  font-size: 1.5rem;
  color: #f5f4f7;
  text-shadow: 2px 2px #a4b0b9;
}