.main_wrapper {
  width: 100%;
  min-height: 150px;
  padding-top: 100px;
}
h3 {
  text-align: center;
}
.table_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
td {
  padding: 10px;
}
.button {
  padding-top: 30px;
}